$primary: (
  50 : #e7e8f3,
  100 : #c2c5e1,
  200 : #999fcd,
  300 : #7078b8,
  400 : #525ba9,
  500 : #333e9a,
  600 : #2e3892,
  700 : #273088,
  800 : #20287e,
  900 : #141b6c,
  A100 : #a4a9ff,
  A200 : #717aff,
  A400 : #3e4aff,
  A700 : #2532ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$accent: (
  50 : #fef4f8,
  100 : #fde5ed,
  200 : #fcd3e1,
  300 : #fac1d4,
  400 : #f9b4cb,
  500 : #f8a7c2,
  600 : #f79fbc,
  700 : #f696b4,
  800 : #f58cac,
  900 : #f37c9f,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #fff6f9,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
