@use 'palette' as palette;
@use '@angular/material' as mat;

@include mat.core();

$app-primary: mat.define-palette(palette.$primary, 500);
$app-accent: mat.define-palette(palette.$accent, 500);
$app-typography: mat.define-typography-config();

$my-theme: mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
  ),
  typography: $app-typography,
));

@include mat.all-component-themes($my-theme);
@include mat.typography-hierarchy($app-typography);

html, body { height: 100%; }
body { margin: 0; }
[mat-raised-button].mat-accent,
[mat-flat-button].mat-accent {
  color: white !important;
}
